<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- Los iconos tipo Solid de Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Nuestro css-->
  <link rel="stylesheet" type="text/css" href="pag-principal.component.css">
</head>

<body>
  <div>
    <div id="barra">
      <div class="image">
        <img src="../../assets/istl.PNG">
      </div>
    </div>
    <br>
    <div class="text-center">
      <div class="col-sm-8 main-section">
        <div>
          <i class="fas fa-id-card"></i>
        </div>
        <div class="container">
          <form class="col-14" [formGroup]="form_validar" (ngSubmit)="getCertificado()" novalidate>
            <div class="form-group" id="user-group">

              <input type="text" autofocus='true' class="form-control" color="dark" placeholder="INGRESE EL CÓDIGO DEL CERTIFICADO"
                [(ngModel)]="Certificado.codigo" formControlName="codigo" /><br>
            </div>
            <div class="boton" class="col-14">
              <button type="submit" class="btn btn-dark "><i class="fas fa-sign-in-alt"></i> BUSCAR </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</body>

</html>